@media (min-width: 768px), (max-width: 1024px) and (min-width: 1281px){

    .formContainer{   

        display: flex;
        flex-wrap: row;        
        margin-left: 5%;
        width: 20%;
                
    }

}