@media (min-width: 768px), (max-width: 1024px) and (min-width: 1281px){

    .image{

        background-color: black;            
        height: 60px;
        width: 100%;
        font-size: 30px;
        color: white;
        display: flex;        
        align-items: center;
        justify-content: center;
        
    }
}